# Dependencies
node_modules/

# Environment variables (jangan pernah ke-push, isinya credential DB)
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/